@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: hsl(228, 33%, 97%);
}
